*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.box{
	position: relative;
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
	transform: rotateX(-30deg) rotateY(30deg);
	animation: 10s ro linear infinite;
}

.box div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}

.box div span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: red;
	transform: rotateY(calc(90deg*var(--i))) translateZ(150px);
}

.box div span:nth-child(1){
	background: url("https://images.pexels.com/photos/848573/pexels-photo-848573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.box div span:nth-child(2){
	background: url("https://images.pexels.com/photos/206066/pexels-photo-206066.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.box div span:nth-child(3){
	background: url("https://images.pexels.com/photos/789555/pexels-photo-789555.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.box div span:nth-child(4){
	background: url("https://images.pexels.com/photos/6152103/pexels-photo-6152103.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@keyframes ro {
	0%{
		transform: rotateX(-45deg) rotateY(0deg);
	}
	100%{
		transform: rotateX(-45deg) rotateY(360deg);
	}
}

.top{
	background: url("https://images.pexels.com/photos/8451911/pexels-photo-8451911.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
	transform: rotateX(90deg) translateZ(150px);
}